version: "3"
services:
  redis:
    image: redis:alpine
    volumes:
      - redis:/data
    command: ["redis-server", "--appendonly", "yes"]

  postgres:
    image: postgres:alpine
    environment:
      POSTGRES_DB: webauthn
      POSTGRES_PASSWORD: webauthn
      POSTGRES_USER: webauthn
    volumes:
      - ./db/createtables.sql:/docker-entrypoint-initdb.d/createtables.sql
      - postgres:/var/lib/postgresql/data

  web:
    build: .
    restart: on-failure
    ports:
      - 8443:8443
    environment:
      DB_CONNSTRING: "dbname=webauthn user=webauthn password=webauthn host=postgres sslmode=disable"
      REDIS_ADDR: redis:6379
      REDIS_NETWORK: tcp
      REDIS_PWD:
      SESSION_KEY:
    volumes:
      - ./tlsfiles:/app/certs
      - ./static:/app/static
      - ./config.json:/app/config.json
    depends_on:
      - postgres
      - redis
    command:
      [
        "-config=/app/config.json",
        "-cert=/app/certs/tls.crt",
        "-key=/app/certs/tls.key",
      ]

volumes:
  postgres:
  redis:
